In [1]:
from selenium import webdriver
import pandas as pd
import bs4 as bs
import urllib.request
import os
from pandas import ExcelFile
import gender_guesser.detector as gender

In [20]:
d = gender.Detector()
path = os.path.join(os.getcwd(), 'school_data', 'full_data_new.csv')
df = pd.read_csv(path, index_col=[0])
gender_dict = {'male': 1, 'mostly_male': 1, 'female': 0, 'mostly_female': 0, 'unknown': 2, 'andy': 2}
genders = [d.get_gender(name) for name in df['First Name']]
labels_gender = [gender_dict[gen] for gen in genders]
df['Gender'] = genders
df['Gender Label'] = labels_gender
df.to_csv(os.path.join(os.getcwd(), 'school_data', 'full_data_new_with_gender.csv'))

In [4]:
driver = webdriver.Firefox()
driver.get("http://dlt.aals.org")#put the adress of your page here

In [5]:
username = '' #Username and password for aals website
password = ''
driver.find_element_by_xpath('//*[@id="user_username"]').send_keys(username);
driver.find_element_by_xpath('//*[@id="user_password"]').send_keys(password);
driver.find_element_by_xpath('/html/body/div/div/div/form/input[3]').click()

In [28]:
def search_school(school_name):
    driver.get('https://dlt.aals.org/dlts')
    elem = driver.find_element_by_xpath("/html/body/div/div/div/form/div[1]/div[1]/div/div/a/span")
    elem.click()
    driver.find_element_by_xpath("/html/body/div/div/div/form/div[1]/div[1]/div/div/div/div/input").send_keys(school_name)
    driver.find_element_by_xpath("/html/body/div/div/div/form/div[1]/div[1]/div/div/div/ul/li").click()
    example = driver.find_element_by_xpath('/html/body/div/div/div/form/div[1]/div[1]/div/div/div/ul/li')
    if example.text[:16] == 'No results match':
        school_exists = False
    else:
        school_exists = True
        driver.find_element_by_xpath('//*[@id="q_tenured_and_dean"]').click()
        driver.find_element_by_xpath("/html/body/div/div/div/form/div[2]/div/input").click()
    return school_exists

In [29]:
search_school('university of alabama')

True

In [30]:
def get_page_data(html, cur_data):
    dfs = pd.read_html(html)
    data = dfs[0].iloc[:,:-1]
    cur_data = pd.concat([cur_data, data])
    return cur_data
def create_path(*args):
    cur_path = os.getcwd()
    for value in args:
        cur_path  = os.path.join(cur_path, value)
    return cur_path

In [31]:
#Old List
# list_schools = open('list_schools.txt', 'r')
# list_schools = list_schools.read().split('\n')[:-1]
# list_schools

In [40]:
#New List
df = pd.read_excel('schools_formartin.xlsx', sheet_name='Sheet1')
list_schools = list(df['Moved From'])

In [41]:
cur_data = pd.DataFrame() 
for school in list_schools:
    school_exists = search_school(school)
    if not school_exists and ',' in school:
        school_exists = search_school(school.split(', ')[0])
    elif not school_exists and 'at' in school:
        school_exists = search_school(school.split(' at ')[0])
    if not school_exists:
        school_exists = search_school('The ' + school)
    if not school_exists and ' University' in school:
        school_exists = search_school(school.split(' University')[0])
    if school_exists:   
        html = driver.page_source
        cur_data = get_page_data(html, cur_data)
        soup = bs.BeautifulSoup(html, 'lxml')
        next_page_url = soup.find('a', {'rel': 'next'})

        while next_page_url:
            next_link = next_page_url.get('href')
            link = 'https://dlt.aals.org' + next_link
            driver.get(link)
            html = driver.page_source
            cur_data = get_page_data(html, cur_data)
            soup = bs.BeautifulSoup(html, 'lxml')
            next_page_url = soup.find('a', {'rel': 'next'})
        cur_data.reset_index(inplace = True, drop = True)
    else:
        print('{} is not in the database'.format(school))
cur_data.to_csv(create_path('school_data', 'full_data_new.csv'))

McGill University is not in the database
Florida Coastal Law School is not in the database
University of Melbourne is not in the database
University of British Columbia is not in the database
University of Amsterdam is not in the database
Universities of Helsinki & Eastern Finland is not in the database
Ava Maria School of Law is not in the database

In [17]:
list_schools

After you have logged in, Selenium is able to navigate to any webpage. We will navigate to the pages on the list:

In [4]:
faculty_list = pd.read_csv('UVa_law_faculty.csv')
faculty_list
faculty_list.drop(columns = ['Unnamed: 0'], inplace=True)
faculty_list

                      Resident
0           Kenneth S. Abraham
1          Barbara E. Armacost
2                Aditya Bamzai
3               Charles Barzun
4               Michal Barzuza
5            Richard J. Bonnie
6                  Josh Bowers
7             Maureen E. Brady
8               Stephen  Braga
9              Darryl K. Brown
10                D. Ruth Buck
11          Jonathan Z. Cannon
12                 Albert Choi
13             George M. Cohen
14          Michael G. Collins
15                  Kevin Cope
16            Anne M. Coughlin
17                Quinn Curtis
18             Ashley S. Deeks
19               Michael Doran
20               John F. Duffy
21          Deirdre M. Enright
22     Kimberly Kessler Ferzan
23             Joshua Fischman
24            Kim Forde-Mazrui
25                    Joe Fore
26              George S. Geis
27          Michael D. Gilbert
28          Jennifer L. Givens
29            Risa L. Goluboff
..                         ...
59             Daniel R. Ortiz
60              Farah Peterson
61          Saikrishna Prakash
62       Margaret Foster Riley
63         Mildred W. Robinson
64           George Rutherglen
65               James E. Ryan
66         A. Sprightley  Ryan
67  Nelson Camilo Sánchez León
68           Frederick Schauer
69        Richard C. Schragger
70        Micah J. Schwartzman
71              John K. Setear
72         Molly Bishop Shadel
73                Crystal Shin
74                  Gil Siegal
75         Barbara A. Spellman
76         A. Benjamin Spencer
77             Paul B. Stephan
78               Gregg Strauss
79       Pierre-Hugues Verdier
80              J. H. Verkerke
81               Mila Versteeg
82           Andrew N. Vollmer
83              Steven D. Walt
84          Sarah Stewart Ware
85             G. Edward White
86             Ann Woolhandler
87                  Ethan Yale
88               George K. Yin

[89 rows x 1 columns]

In [86]:
def to_float_or_int(input_list):
    new_list = []
    for x in input_list:
        x = x.replace(',','')
        try:
            value = int(x)
        except ValueError:
            try:
                value = float(x)
            except:
                value = ''
        new_list.append(value)
    return new_list
new_list = to_float_or_int(column_1)
print(column_1)
print(new_list)

['82', '1,594', ' 732', ' 466', ' 74', '\xa0', '26.13', ' 58 ']
[82, 1594, 732, 466, 74, '', 26.13, 58]

In [ ]:
full_name = faculty_list.Resident[0]
first_name = full_name.split(' ')[0]
middle_name = full_name.split(' ')[1]
last_name = full_name.split(' ')[2]

link = 'https://heinonline-org.proxy01.its.virginia.edu/HOL/AuthorProfile?action=edit&search_name=' + last_name + '%2C%20' + first_name + '%20' + middle_name + '&collection=journals'
driver.get(link)

In [94]:
#Selenium hands the page source to Beautiful Soup
soup=bs.BeautifulSoup(driver.page_source, 'lxml')
# table = soup.table
table = soup.findAll('table', {'class': 'table noborder unpad'})
main_table = table[0]
table_rows = main_table.findAll('th')
print(table_rows)

[<th align="left">
	Full Name
	</th>, <th align="left">University/Affiliation
		</th>, <th style="text-align:right;padding-top:12px">
#
</th>, <th style="text-align:right;padding-top:12px">
Rank
</th>, <th align="left" style="white-space: nowrap;">
<a class="glyphlink opacity" href="#" onclick="$('#a1_help').slideToggle();return false;"><span class="fa fa-info-circle"></span></a>
			Cited by Cases <br/>
</th>, <th align="left" style="white-space: nowrap;">
<a class="glyphlink opacity" href="#" onclick="$('#a2_help').slideToggle();return false;"><span class="fa fa-info-circle"></span></a>
			Cited by Articles <a class="glyphlink opacity" href="" id="year_link" name="year_link" onclick='$("#yearview").toggle();$(".yearview_tr").toggle();return false;' style="display:none;">(By Year)</a><br/>
</th>, <th align="left" style="white-space: nowrap;">
<a class="glyphlink opacity" href="#" onclick="$('#a3_help').slideToggle();return false;"><span class="fa fa-info-circle"></span></a>
			Accessed (Past 12 Months)<br/>
</th>, <th align="left" style="white-space: nowrap;">
<a class="glyphlink opacity" href="#" onclick="$('#a4_help').slideToggle();return false;"><span class="fa fa-info-circle"></span></a>
			Cited by Articles (Past 10 Years)<br/>
</th>, <th align="left" style="white-space: nowrap;">
<a class="glyphlink opacity" href="#" onclick="$('#a6_help').slideToggle();return false;"><span class="fa fa-info-circle"></span></a>
			Cited  by Articles (Past 1-2  years)<br/>
</th>, <th align="left" style="white-space: nowrap;">
<a class="glyphlink opacity" href="#" onclick="$('#a5_help').slideToggle();return false;"><span class="fa fa-info-circle"></span></a>
			ScholarCheck Rank<br/>
</th>, <th align="left" style="white-space: nowrap;">
<a class="glyphlink opacity" href="#" onclick="$('#a7_help').slideToggle();return false;"><span class="fa fa-info-circle"></span></a>



		Average Citations per Article  <br/>
</th>, <th align="left" style="white-space: nowrap;">
<a class="glyphlink opacity" href="#" onclick="$('#a2a_help').slideToggle();return false;"><span class="fa fa-info-circle"></span></a>
			Self-Citations
			</th>]

In [90]:
out = [row.findAll('td', {'style': 'text-align:right;'}) for row in table_rows if row.findAll('td', {'style': 'text-align:right;'}) != []]
#flatten
out = [item for sublist in out for item in sublist]
column_1 = [str(x).split('>')[1].split('<')[0] for i,x in enumerate(out) if i%2 == 0]
column_2 = [str(x).split('>')[1].split('<')[0] for i,x in enumerate(out) if i%2 != 0]
# print(list(map(lambda x: float(x), column_1)))
new_col_1 = to_float_or_int(column_1)
new_col_2 = to_float_or_int(column_2)                       
df = pd.DataFrame(columns = ['stat', 'number', 'rank'])
df['number'] = pd.Series(new_col_1)
df['rank'] = pd.Series(new_col_2)
df
# print(main_table_rows)
# data = main_table_rows.findAll('td', {'style': 'text-align:right;'})
# print(data)

# for tr in table_rows:
# 	td = tr.find_all('td')
# 	row = [i.text for i in td]
# 	print(row)

['82', '1,594', ' 732', ' 466', ' 74', '\xa0', '26.13', ' 58 ']
['380', '448', '1,295', '758', '782', ' 260 ', ' ', '']

  stat number  rank
0  NaN     82   380
1  NaN   1594   448
2  NaN    732  1295
3  NaN    466   758
4  NaN     74   782
5  NaN          260
6  NaN  26.13
7  NaN     58

In [6]:
browser.get_current_page()
browser.get_current_page().find_all('form')

[<form action="https://shibidp.its.virginia.edu/idp/profile/SAML2/POST/SSO" method="POST" name="EZproxyForm"><input name="RelayState" type="hidden" value="ezp.2aHR0cDovL2hlaW5vbmxpbmUub3JnL0hPTC9XZWxjb21l"/>
 <input name="SAMLRequest" type="hidden" value="PHNhbWxwOkF1dGhuUmVxdWVzdCBEZXN0aW5hdGlvbj0iaHR0cHM6Ly9zaGliaWRwLml0cy52aXJnaW5pYS5lZHUvaWRwL3Byb2ZpbGUvU0FNTDIvUE9TVC9TU08iIElEPSJfMTU1MjMyNDQ3MzI5MzIiIElzc3VlSW5zdGFudD0iMjAxOS0wMy0xMVQxNzoxNDozM1oiIFZlcnNpb249IjIuMCIgeG1sbnM6c2FtbHA9InVybjpvYXNpczpuYW1lczp0YzpTQU1MOjIuMDpwcm90b2NvbCI+PHNhbWw6SXNzdWVyIHhtbG5zOnNhbWw9InVybjpvYXNpczpuYW1lczp0YzpTQU1MOjIuMDphc3NlcnRpb24iPmh0dHBzOi8vcHJveHkwMS5pdHMudmlyZ2luaWEuZWR1L3NoaWJib2xldGg8L3NhbWw6SXNzdWVyPjxzYW1scDpOYW1lSURQb2xpY3kgQWxsb3dDcmVhdGU9IjEiLz48L3NhbWxwOkF1dGhuUmVxdWVzdD4K"/>
 If your browser does not continue automatically, click <input type="submit" value="here"/>
 </form>,
 <form name="EZproxyTrack"><input name="back" type="hidden" value="1"/><script language="JavaScript">
 <!--
 function EZproxyCheckBack() {  var goForward = (document.EZproxyTrack.back.value==1);  document.EZproxyTrack.back.value=2;  document.EZproxyTrack.back.defaultValue=2;  if (goForward) { document.EZproxyForm.submit(); }}
 -->
 </script></form>]